*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background: #0f0d13;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-player{
    background: #2a2141;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.conteudo-musica p{
    font-size: 2.4rem;
}

.conteudo-musica p{
    font-size: 1.8rem;
}


